*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;  
}

body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url('../Images/background.png');
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
    
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
    
}

nav ul li a{
    text-decoration: none;
    color: #00FFFf; 
    font-size: 18px;
    position: relative;

}
nav ul li a:after{
    content: '';
    width: 0;
    height: 2px;
    background: #00FFFf;
    position: absolute;
    left: 0;
    bottom: -6px;

}

nav ul li a:hover:after{
    width: 100%;
    transition: 0.5s;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 50px;
    line-height: 60px;
}