body {
    margin: 0;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    font-size: 16px;
    color: #16202A;      
    background-color: #F7F9FB; 
}

header {
    background-color:#FFCB05; 
    color: #0B3D91;          
    padding: 12px 22px;        
    font-family: 'Georgia', serif; 
}

.image{
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 1rem 0;
}

nav a {
    color: #2E8B57;
    text-decoration: none;
    margin: 0 15px;
}


nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
}

article {
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

aside {
    background-color: #e7e7e7;
    padding: 1rem;
    margin: 2rem 0;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color:#FFCB05;
    color: white;
}

h1, h2, h3 {
    margin: 0;
}

h1 {
    font-family: 'Tahoma', sans-serif;
    font-size: 1.375rem; 
    color: #8A2BE2;
    letter-spacing: 0.02em;
}

h2 {
    font-family: 'Tahoma','Palatino Linotype', 'Book Antiqua', serif;
    font-size: 1.6rem;
    color: #D2691E;
    font-style: italic;
}

h3 {
    font-family: 'Courier New', monospace;
    font-size: 0.95rem; 
    color: #B22222; 
    font-weight: 600;
}

