body{
    background-color: black;
}

#followBtn{
   background-color: rgb(204, 44, 44);
   color: white;
   border: none; 
   border-radius: 3px;
   margin-left: 200px;
   margin-top: 100px;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-right: 20px;
   padding-left: 20px;
   font-size: 20px;
   font-weight: bold;
   cursor: pointer;
   
}